<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.balans">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BalansOnboardingActivity" />
        <activity
            android:name=".BalansMainActivity"
            android:label="@string/title_activity_balans_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BalansAddItemActivity"
            android:label="@string/add_meal" />
        <activity
            android:name=".BalansSettingsActivity"
            android:label="@string/title_activity_balans_settings"
            android:parentActivityName=".BalansMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.balans.BalansMainActivity" />
        </activity>

        <service android:name=".MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">

        </service>
    </application>

</manifest>